<nav class="navbar navbar-expand-lg px-4 py-0" style="height: 70px;">

  <div class="container-fluid">

    <a class="navbar-brand" href="/index">To Do List</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <!-- Collapsable elements -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

      </ul>
      <form action="/login" method="get">
        <button class="btn btn-outline-dark" type="submit">Log In</button>
      </form>
      <form class="d-flex" action="/signup" method="get">
        <button class="btn btn-dark" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</nav>