<%- include("partials/header") -%>
<%- include("partials/navbar-navbar-loggedin") -%>
<div class="container">
  <h1 class="heading" id="listHeading"> Uh Oh! List not found </h1>
    
    
    
</div>
<h1>List not found</h1>

<%- include("partials/footer") -%>
