<%- include("header") -%>

<div class="box heading" id="main-heading">
  <h1>Please sign in</h1>
</div>

<div class="box">
  <!-- <div class="heading">
        <h2>Log In</h2>
    </div> -->

 <!--  <form action="/login" method="post">
    <div class="item">
            <label for="userName">User name</label>
            <input type="text" id="userName" name="userName" placeholder="ana-banana">
    </div>
    <div class="item">
    
            <label for="userName">Password</label>
            <input type="password" id="password">
    </div>
        
       <button type="submit">Log in</button> 
  </form> -->

  <div class="form-signin w-100 m-auto pt-4">
    <form>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
    </form>
</div>
  

</div>

<%- include("footer") -%>
